h1{
    color:blue ;
    font-family: "Playfair Display", serif;
    font-size: 86px;
}

h2{

    font-family: "Poppins", sans-serif;

}

.hero{
background-color: #F9F7FE;
text-align: center;
font-weight: bold;
line-height: 2;

}

